
.main {
  height: 150px;
  background-color: bisque;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mycard {
  display: flex;  
  flex-wrap: wrap;
}

.col {
  width: 260px;
  height: 500px;
  background-color: rgb(255, 214, 164);
  border-radius: 5px;
  box-shadow: 10px gray;
  margin: 50px 40px 0px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.card-img {
  height: 330px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-head {
  height: 50px;
  width: 250px;
  background-color: rgb(255, 236, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-main {
  height: 100px;
  width: 250px;
}

.card-footer {
  height: 20px;
  width: 250px;
  background-color: thistle;
}